 <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Article 
      </h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 animated flipInX delay-2s" src="img/money.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Value (economics)</h3>
          <p>Economic value is a measure of the benefit provided by a good or service to an economic agent. It is generally measured relative to units of currency, and the interpretation is therefore "what is the maximum amount of money a specific actor is willing and able to pay for the good or service"? </p>
          <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Value_(economics)" target="_blank">Read More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 animated flipInX delay-2s" src="img/food.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Genetically modified food</h3>
          <p>Genetically modified foods or GM foods, also known as genetically engineered foods, bioengineered foods, genetically modified organisms, or GMOs, are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering. Genetic engineering techniques allow for the introduction of new traits as well as greater control over traits than previous methods such as selective breeding and mutation breeding.[1] </p>
          <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Genetically_modified_food" target="_blank">Read More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 animated flipInX delay-2s" src="img/world.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>The World in 2100</h3>
          <p>With global population set to reach seven billion people over the weekend, it may be time to start planning for what the world will look like in the coming years.<br>

Though most of us won't be around to see it, the United Nations has projected that our incredible population growth will level off at around 10 billion people by the year 2100. </p>
          <a class="btn btn-primary" href="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10" target="_blank">Read More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>


    </div>