 <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Portfolio
       <hr>
        <small>Hope you enjoyed my portfolio as much I enjoyed designing them.</small>
      </h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top bounceIn" src="img/branding-1.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Banner Design</a>
              </h4>
              <p class="card-text">SK Culinary</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top bounceIn" src="img/branding-2.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Banner Design</a>
              </h4>
              <p class="card-text">SK Culinary</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="img/brochure-1.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Brochure Design</a>
              </h4>
              <p class="card-text">Warryntist</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100" >
            <a href="#"><img class="card-img-top" src="img/bookdesign-1.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Book Design </a>
              </h4>
              <p class="card-text">Khana Khazana </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="img/bookdesign-2.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Book Design</a>
              </h4>
              <p class="card-text">Khana Khazana </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="img/mobile-1.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Mobile Application Design</a>
              </h4>
              <p class="card-text">Turner Construction</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
     

    </div>